.main-text {
    text-align: justify;
    font-size: 1rem;
}





.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}

.pagination a.active {
    cursor: default;
}

.pagination a:active {
    outline: none;
}

.pagination li:first-child a {
    -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px 0 0 50px;
}

.pagination li:last-child a {
    -moz-border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0;
    border-radius: 0 50px 50px 0;
}

.pagination a {
    border-color: #ddd;
    color: #999;
    background: #fff;
}

.pagination a:hover {
    color: #E34E48;
    background-color: #eee;
}

.pagination a.active,
.pagination a:active {
    border-color: #E34E48;
    background: #E34E48;
    color: #fff;
}


.pagination-container {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.fa-backward {
    color: #E34E48;
    padding-bottom: 0.2rem;
    padding-right: 0.3rem;
}

.fa-forward {
    color: #E34E48;
    padding-bottom: 0.2rem;
    padding-left: 0.3rem;
}

.fa-solid {
    display: flex;
  justify-content: center;
  align-items: center;
}