.open-post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.show-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.open-post-h1 {
    text-align: center;
}

.open-post-textarea {
    width: 100%;
    height: 80px;
    background-color: aliceblue;
    resize: none;
}