.open-post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.show-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.open-post-h1 {
    text-align: center;
}

.open-post-textarea {
    width: 100%;
    height: 80px;
    background-color: aliceblue;
    resize: none;
}

.open-post-button-container {
    width: 100%;
    display: flex;   
  justify-content: flex-end;
}


.show-container {
    padding-bottom: 2rem;
}

.card-container {
    padding-top: 2rem;
}


.open-post-button,
.regiser-inside-post-button,
.categories-button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.open-post-button:focus,
.regiser-inside-post-button:focus,
.categories-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.open-post-button:hover,
.regiser-inside-post-button:hover,
.categories-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.open-post-button:active,
.regiser-inside-post-button:active,
.categories-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    color: inherit;
    text-decoration: none;

}

.inline-comment-data h4,
.inline-comment-data p {
  display: inline-block;
}


sup {
    color: #b73342;
}

