.open-post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.show-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.open-post-h1 {
    text-align: center;
}