body {
    background: #ebebeb;
}

.learn-pagination {
    text-align: justify;
    text-justify: auto;
    padding: 2rem;
}

.whoacceptscrypto-li {
    padding: 2rem;
}

.video {
    border-radius: 40px;
    object-fit: cover;
}


