body {
    background: #ebebeb;
}

.learn-pagination {
    text-align: justify;
    text-justify: auto;
   
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.whoacceptscrypto-li {
    padding: 2rem;
}

.video {
    border-radius: 40px;
    object-fit: cover;
}





table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 16px;
  }
  
  th:first-child, td:first-child {
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  
  .fa-check {
    color: green;
  }
  
  .fa-remove {
    color: red;
  }